/*  スマホ用 */

@media all and (min-width:350px) and (max-width: 670px) {

.container {
    padding: 20px 15px;
    display: flex;    
    flex-direction: column;
    align-items: flex-start;
    height: 42px;
}

.header-right li {
    display: inline-block;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 12px 0px 0px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }

@media all and (max-width: 350px) { /* 幅350px以下の場合指定のフォントサイズだとナビゲーションが２行になるのでサイズ変えてます。 */
    .header-right li {
        font-size: 12px;
        padding: 0px 8px 0px 0px;}
}

.header-right ul {
    padding: 0px;
    margin: 0px;
}

.header-left h2 {
    font-size: 18px;
    width: 100%;
    margin: 0px;
    text-align: left;
}

.main-wrapper p {
    margin: 0px 0px;
    padding-bottom: 20px;
 }

.contents-wrapper { 
    padding: 20px 15px 0px 20px;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 22px;
    margin: 0px 0px 20px 0px;
    border-bottom: 3px solid #1F91BE;
}

.article-wrapper {
    width: 100%;
    margin-right: 0px; 
}

.abouts {
    margin: 0px;  
    display: flex;    
    flex-direction: column;
    padding-bottom: 0px;
}

.about p {
    margin: 0px 0px 20px 0px;
}

.abouts .about { 
    width: 100%;
}

.text-contents {
    font-size: 14px;
    text-align: left;
    color: #333333;
    padding-bottom: 20px; 
}

.news-area .title {
    margin: 0px 0px 0px 0px;    
}

.news-area {
    padding-top: 20px;
}

.eachnews {
    border-bottom: 1px solid #6F6F6F;  
    display: flex;
    flex-direction: column;
}

.days {
    font-size: 14px;
    text-align: left;
    color: #333333;  
    font-weight: bold;
    margin: 11px 0px 0px 0px;
    white-space: nowrap;
}

.text-contents2 {
    font-size: 11px;
    text-align: left;
    color: #333333;
    width: 100%;
    float: left;
    
}

.picture-area img {
    height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    object-fit: fill;
}

.more {
    margin: 20px 0px 60px 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 13px 39px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: none;   
    width: 39%;
}    


.category-area {
    padding-bottom: 20px;
}

.category-area li {
    font-size: 14px;
}

.category-area ul {
    width: 100%;
    padding: 0px 15px;
}

.category-area .title {
    padding-top: 20px;
}

footer {
    height: 30px;
    background: #C7C7C7;
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
    line-height: 30px;
}

}


/* ↓幅930px以下でナビゲーションが２行になるので指定↓ */


@media all and (min-width:670px) and ( max-width:930px) {

    .container {
        height: 75px;
        padding: 22px 100px;
        display: flex;    
        flex-direction: column;
        align-items: flex-start;
    }
    
    .header-right li {
        display: inline-block;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px 12px 0px 0px;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
      }

    
    .header-right ul {
        padding: 0px;
        margin: 0px;
    }
    
    .header-left h2 {
        font-size: 31px;
        width: 100%;
        margin: 0px;
        text-align: left;
    }


}
